<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>

    <%- include('../partials/nav.ejs') %>

    <% if (user && user.hostAuth === true) { %>
        <div class="create-comp content">
            <form action="/competitions/home" method="POST">
                <label for="title">Competition Title/Name</label>
                <input type="text" id="title" name="title" required>

                <label for="genre">Genre</label>
                <select id="genre" name="genre" required>
                    <option value="">Select Genre</option>
                    <option value="art">Art</option>
                    <option value="coding">Coding</option>
                    <option value="education">Education</option>
                    <option value="essay">Essay Writing</option>
                    <option value="music">Music</option>
                </select>

                <label for="about">About the Competition</label>
                <textarea name="about" id="about" cols="30" rows="5" required></textarea>

                <button type="submit">Submit</button>
            </form>
        </div>
    <% } else { %>
        <h1>User is not authorized to create competition</h1>
        <% if (!user.isAdmin && !user.hostAuth) { %>
            <div class="apply-for-host">
                <a href="/competitions/applyhost" class="btn">Apply for Host</a>
            </div>
        <% } %>
    <% } %>

    <%- include('../partials/footer.ejs') %>

</body>
</html>
