ONLINE COMPETITION COMPETITION HOSTING PLATFORM (BRAC)


Functional Requirements


MODULE1: LOGIN SIGNUP AND HOMEPAGE (5)
• Signup/login/forget password (2)
* User can sign/up or login using name and password
* Click forget password to reset password by using questionnaires set by users during signup


• Homepage(3)
* THREE views(users, admins, hosts), an initial homepage with basic information and the ability to see a list of available competitions.
* After logging in the user can manage their profile, including personal information.
* Can also see the history of competitions participated in.


• Admin View
* Separate view for admins for management and authorizations.




MODULE2: COMPETITION MANAGEMENT (5)
• Further Authentication for competition hosts
* More details provided and authorization from admin required.


• Competition Creation
* Enable authorized users to create new competitions, with details such as title, description, rules, entry requirements, and deadlines.


• Competition Categories
* Different competitions are grouped by genres(art, music, coding, sports etc.)


# • Monetary Transactions gateway
# * Hosts can pay for locations. Users can pay for entry for paid comps. 


• Online Submissions 
# * Certain competitions will require an entry submission which hosts can see and review.
* This will also allow competitions to be hosted entirely online, through rounds of submissions and reviews.




MODULE3: JUDGE PANEL AND VOTING (5)
• Judge panel management
* Hosts can assign a judge panel for evaluation.
* Judges can see submissions and make reviews.


• Leaderboards
* Display rankings of participants based on votes/scores.


• Multipe Types of question formats - MCQ/file submissions


# • Prize management.
# * Hosts can specify and send competition prizes online where applicable(monetary).


• Voting/scoring Mechanism


• Multiple Rounds
* Competitions can have multiple rounds.




MODULE4: COMMUNICATION (7)
• Posting
* Allow judges to post updates on a wall visible to participants.


• Notifications system
* Email notifications to inform participants about deadlines, results and other relevant updates.


• Search functionality
* Users can search for competitions as well as other users.


• Followers and followings.
* Users can follow other users as well as competitions to get updates.


• Commenting System
* Public submissions that can be voted on can also be commented on by users.


• Feedback system (2)
* Users can send feedback to hosts regarding competitions on what can be improved.
* Users can rate competition hosts.


• Deadlines to impose a time pressure for certain question sets to give real time pressure