<!DOCTYPE html>
<html lang="en">
<%- include('./partials/unloghead.ejs') %>
<body>

    <div class="not-found content">
        <%- title %>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>