<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competition | <%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
    
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Rankers</h1>
        </div>
        <div class="button-container">
            <a href="/login" class="glow-button">Login</a>
            <a href="/signup" class="glow-button">Signup</a>
        </div>

        <div class="about">
            <h2>About Rankers</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nisi ipsa nesciunt, alias quod quas cupiditate, accusamus eveniet blanditiis quisquam impedit accusantium exercitationem cumque sit minus quidem? In, error molestias.</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>
</html>